Options +FollowSymLinks
Options -Indexes

# -----------------------------------------------------
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>

AddDefaultCharset "Content-Type: text/html; charset=UTF-8"

<FilesMatch "index\.php$">
	Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
	Header set Pragma "no-cache"
	Header unset Last-Modified
</FilesMatch>

Header always append X-Frame-Options SAMEORIGIN
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"